<section class="post">
    <div class="post-body">
        <img src="/images/{{filename}}" alt="{{description}}">
        <div class="post-overlay">
          <h2>{{title}}</h2>
          <p>By: {{user}}</p>
        </div>
    </div>
  </a>
</section>