<div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/board/:{{board.id}}" class="pure-menu-link">{{board.title}}</a>
        </li>
    </ul>
</div>
