<form class="pure-form search-form">
    <input id="search-input" type="text" class="pure-input-rounded" placeholder="Separate using commas"/>
    <button id="search-button" type="submit" class="pure-button board-button">Search</button>
</form>

{{!-- <div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/board/:{{board.id}}" class="pure-menu-link">{{board.title}}</a>
        </li>
    </ul>
</div> --}}
