<div class="search-results">
    {{#each boardData}}
    <div class="card text-center post-card">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text card-tags">
                {{#each allTags as |tag|}}
                {{tag_name}}{{#unless @last}} + {{/unless}}
                {{/each}}
            </p>
            <div>
                <a href="/board/{{id}}" class="pure-button board-button visit-board">Visit Board</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
