<div class="board-form">
    <form id="create-post-form" class="pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="post-title" class="form-label">Post Title</label>
                <input id="post-title" type="text" placeholder="Title" />
            </div>
            <div class="pure-control-group">
                <label for="post-content" class="form-label">Post Content</label>
                <input id="post-content" type="text" placeholder="Description" />
            </div>
            <div class="pure-control-group">
                <label for="post-url" class="form-label">URL</label>
                <input id="post-url" type="text" placeholder="Description" />
            </div>
            <div class="pure-control-group">
                <input id="post-source" class="form-control" type="file" accept=".gif, .jpeg, .jpg, .png">
            </div>
            <div class="pure-control-group">
                <button id="post-submit" type="submit" class="pure-button pure-button-primary board-button">Create Post</button>
            </div>
        </fieldset>
    </form>
</div>

<script src="/js/post.js"></script>