<div class="board-form">
    <form id="create-board-form" class="pure-form">
        <fieldset>
            <div class="pure-control-group">
                <label for="board-title" class="form-label">Board Title</label>
                <input id="board-title" type="text" placeholder="Title" />
            </div>
            <div class="pure-control-group">
                <label for="board-tags" class="form-label">Associated Tags</label>
                <input id="board-tags" type="text" placeholder="Description" />
            <div class="pure-control-group">
                <button id="board-submit" type="submit" class="pure-button pure-button-primary board-button">Create Post</button>
            </div>
        </fieldset>
    </form>
</div>

<script src="/js/board.js"></script>