<div class="main-content-container">
    <div class="board-form">
        <form class="pure-form sign-in-form">
            <fieldset>
                <div class="pure-control-group">
                    <label for="post-title" class="form-label">Post Title</label>
                    <input id="post-title" type="text" placeholder="Title" />
                </div>
                <div class="pure-control-group">
                    <label for="post-content" class="form-label">Post Content</label>
                    <input id="post-content" type="text" placeholder="Description" />
                </div>
                <div class="pure-control-group">
                    <label for="post-content" class="form-label">URL</label>
                    <input id="post-content" type="text" placeholder="Description" />
                </div>
                <div class="pure-control-group">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input id="formFile" class="form-control" type="file" accept=".gif, .jpeg, .jpg, .png">
                </div>
                <div class="pure-control-group">
                    <button id="post-submit" type="submit" class="pure-button pure-button-primary board-button">Create Post</button>
                </div>
            </fieldset>
        </form>
    </div>