<form class="pure-form">
    <h1>board</h1>
    <fieldset>
        <div class="board-form">
            <input type="text" placeholder="Username" />
            <input type="password" placeholder="Password" />
        </div>
        <div class="board-form">
            <button type="submit" class="pure-button pxure-button-primary">Sign in</button>
        </div>
        <div class="board-form">
            <label for="default-remember">
                <input type="checkbox" id="default-remember" /> Remember me
            </label>
        </div>
    </fieldset>
</form>

{{!-- SIGN UP FORM needs editing 
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Username</label>
            <input type="text" id="aligned-name" placeholder="Username" />
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>
        <div class="pure-control-group">
            <label for="aligned-password">Password</label>
            <input type="password" id="aligned-password" placeholder="Password" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-email">Email Address</label>
            <input type="email" id="aligned-email" placeholder="Email Address" />
        </div>
        <div class="pure-controls">
            <label for="aligned-cb" class="pure-checkbox">
                <input type="checkbox" id="aligned-cb" /> I&#x27;ve read the terms and conditions
            </label>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form> --}}