<div class="board-form">
    <label class="animate-flicker login-label">Sign-in</label>
    <form class="pure-form sign-in-form">
        <fieldset>
            <div class="board-form">
                <input id="username" type="text" placeholder="Username" />
                <input id="password" type="password" placeholder="Password" />
            </div>
            <div class="board-form">
                <button id="sign-in" type="submit" class="pure-button pure-button-primary board-button">Sign-in</button>
            </div>
        </fieldset>
    </form>
</div>

<script src="js/login.js"></script>