<div class="main-content">
    {{#each user.posts as |post|}}
        {{> post-details }}
        <button data-id="{{id}}" class="delete-post"></button>
    {{/each}}
</div>

<script src="/js/profile.js"></script>
{{!-- card for each post, with delete button --}}