<div class="main-content-container">
    <form class="pure-form">
        <input type="text" class="pure-input-rounded" placeholder="Separate using commas"/>
        <button type="submit" class="pure-button board-button">Search</button>
    </form>
</div>