<div class="row">
  {{#if boardData.length}}
    {{#each boardData}}
      {{> searchpage-details}}
    {{/each}}
  {{else}}
    <p>No boards found.</p>
  {{/if}}
</div>

<script src="js/search.js"></script>
