@font-face {
    font-family: 'Lobster';
    src: url('./fonts/lobster/Lobster-Regular.ttf') format('truetype');
}

* {
    font-family: 'Lobster' !important;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
}

.svg-container {
    min-width: 100vw; /* 100% of viewport width */
    min-height: 100vh; /* 100% of viewport height */
    z-index: -1;
    position: fixed;
}


.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    margin-bottom: 1rem !important;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text horizontally */
}

.board-button {
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 1rem;
    background-color: lightgray;
    margin: .2rem;
}

.board-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.board-form input {
    margin: .2rem;
}

.board-header {
    display: flex;
    flex-direction: column;
}

.modal-title {
    margin: 0;
    padding: 0;
}

.post-card {
    box-sizing: border-box;
    margin: .25rem;
}

