/* fonts */
@font-face {
    font-family: 'Lobster';
    src: url('./fonts/lobster/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-I';
    src: url('./fonts/raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

/* animation loops */
@keyframes flickerAnimation {
  0% {
    opacity: 0;
    color: red;
  }
  0.5% {
    color: yellow;
  }
  1% {
    color: red;
  }
  80% {
    opacity: 1;
    color: inherit;
  }
  100% {
    opacity: 0;
    color: inherit;
  }
}
@-o-keyframes flickerAnimation{
  0% {
    opacity: 0;
    color: red;
  }
  0.5% {
    color: yellow;
  }
  1% {
    color: red;
  }
  80% {
    opacity: 1;
    color: inherit;
  }
  100% {
    opacity: 0;
    color: inherit;
  }
}
@-moz-keyframes flickerAnimation{
  0% {
    opacity: 0;
    color: red;
  }
  0.5% {
    color: yellow;
  }
  1% {
    color: red;
  }
  80% {
    opacity: 1;
    color: inherit;
  }
  100% {
    opacity: 0;
    color: inherit;
  }
}
@-webkit-keyframes flickerAnimation{
  0% {
    opacity: 0;
    color: red;
  }
  0.5% {
    color: yellow;
  }
  1% {
    color: red;
  }
  80% {
    opacity: 1;
    color: inherit;
  }
  100% {
    opacity: 0;
    color: inherit;
  }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

/* standard styling */
* {
    overflow-x: hidden;
    overflow-y: auto;
    color: #212529;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.svg-container {
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    position: fixed;
}

.svg-container2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* board versions */
.board-button {
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 1rem;
  background-color: lightgray;
  font-family: 'Lobster' !important;
}

.board-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.board-form input {
  margin: .2rem;
}

/* main logo and topbar*/
.logo {
    display: flex;
    font-size: 10vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0;
    margin-bottom: 1rem !important;
    overflow: hidden;
    font-family: 'Lobster' !important;
}

a h1 {
  color: #212529;
}

.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}

.topbar-container .pure-button {
  margin-left: .5vw;
  border-radius: 2vw;
  transition: 0.3s ease;
}

.topbar-container .pure-form .pure-input-rounded, .pure-form input.pure-input-rounded {
  border-radius: 2vw;
  padding: 0;
  padding-left: 1vw;
}

.search-form {
  position: fixed;
  bottom: 1vw; /* Adjust as needed */
  right: 1vw;
  z-index: 1;
}

.search-form input {
  max-width: 50vw;
}

.create-post-button {
  position: fixed;
  bottom: 1vw; /* Adjust as needed */
  left: 1vw;
  z-index: 1;
}

/* body */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-content-container {
    font-family: 'Raleway';
}

/* sign in/ sign up */
.signin-signup-container {
  display: flex;
  align-items: center;
}

.login-label {
  font-family: 'Lobster';
  font-size: 222%;
}

.modal-header {
  font-family: 'Lobster';
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-submit {
  margin: 0 !important;
}

.modal-content {
  background-color: transparent;
}

.modal-body {
  background-color: white;
}

.modal-title {
    margin: 0;
    padding: 0;
}

/* popular posts */
.popular-posts {
  display: grid;
  grid-template-columns: 1fr; /* Adjust the minimum and maximum width of each column as needed */
  grid-gap: 20px;
  justify-content: center; /* Horizontally center the grid */
  margin: auto;
  width: 66vw;
}

.card-text {
  font-size: 2.5vw;
}

.card-title {
  font-size: 5vw;
}

.visit-board {
  font-size: 3vw;
}

/* search results */
.search-results {
  display: grid;
  grid-template-columns: 1fr; /* Adjust the minimum and maximum width of each column as needed */
  grid-gap: 20px;
  justify-content: center; /* Horizontally center the grid */
  margin: auto;
  width: 66vw;
}

/* create board */
.pure-control-group {
  display: flex;
  justify-content: center;
}

/* board (gallery of posts) + profile gallery*/
.board-label {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  font-family: 'Lobster';
}

.gallery {
  columns: 1;
  column-gap: 1rem;
  align-items: start;
  margin: 0.5rem;
}

.gallery .board-post {
  margin-bottom: 1rem;
  padding: 0;
  border: none;
  background-color: transparent;
}

.card-img-container {
  transition: 0.3s ease;
}

.board-post .card-text, .card-title {
  margin: 0;
  margin-bottom: 1%;
}

.card-img-overlay button {
  font-size: 80%;
}

.board-post:hover .card-img-container{
  filter: brightness(25%);
}

.board-post .card-img-overlay {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}

.board-post:hover .card-img-overlay {
  opacity: 1;
}

.card-img-overlay p {
  color: white !important;
}

/* media queries */
@media screen and (min-width: 568px) {
  .gallery {
    columns: 2;
  }
  .popular-posts {
    grid-template-columns: 1fr 1fr;
    width: 90vw;
  }
  .search-results {
    grid-template-columns: 1fr 1fr;
    width: 90vw;
  }
  .card-text {
    font-size: 2vw;
  }
  .card-title {
    font-size: 4vw;
  }
  .visit-board {
    font-size: 2vw;
  }
}
  
@media screen and (min-width: 900px) {
  .gallery {
    columns: 3;
  }
  .popular-posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
  }
  .search-results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
  }
  .card-text {
    font-size: 1.25vw;
  }
  .card-title {
    font-size: 2.5vw;
  }
  .visit-board {
    font-size: 1.5vw;
  }
  .topbar-container .pure-button {
    font-size: 120%;
  }
}